.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  /* 222 is other black color */
  color: white;
  padding: 0 2rem;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 1000;
  backdrop-filter: blur(8px);
}

.nav-links, .nav-icons {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links a, .nav-icons a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-icons a {
  font-size: 1.25rem;
}

.nav-links a:hover,
.nav-icons a:hover {
  color: #d4bfff;
}
